@model RestaurantDomain.Models.MenuItem

@{
    ViewData["Title"] = "Delete";
}

<style>
    .delete-button{display: flex; flex-direction: column; align-items: center}
</style>

<h1>Видалення позиції</h1>

<h3>Ви впевнені, що хочете видалити цю позицію?</h3>
<div class="card mx-auto" style="max-width: 500px;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name" style="object-fit: cover; height: 250px;">

    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">
            <strong>Ціна:</strong> @Model.Price.ToString()₴<br />
            <strong>Опис:</strong> @Model.Description<br/>
            <strong>Наявність:</strong> @if (Model.Availability ?? false){
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16" style="color: limegreen">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                </svg>
            }
            else {
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #FF0F0F">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            }
        </p>
        @if (Model.Categories != null && Model.Categories.Any())
        {
            <p>
                <strong>Категорії:</strong>
                @string.Join(", ", Model.Categories.Select(c => c.Name))@(".")

            </p>
        }
        @if (Model.Cousines != null && Model.Cousines.Any())
        {
            <p>
                <strong>Кухні:</strong>
                @string.Join(", ", Model.Cousines.Select(c => c.Name))@(".")

            </p>
        }
    </div>

    <div class="card-footer text-end delete-button">
        <form asp-action="Delete" method="post" class="d-inline">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Видалити</button>
        </form>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary" style="margin-top: 50px; display: inline-flex; align-items: center; gap: 8px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
    Відмінити
</a>
