@model IEnumerable<RestaurantDomain.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.Name != null){
    <h1>Страви у @ViewBag.Name</h1>
}
else{
    <h1>Список страв</h1>
}

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-warning" asp-action="Create">Додати нову позицію</a>
    <a class="btn btn-info" asp-controller="Categories">Переглянути категорії</a>
    <a class="btn btn-info" asp-controller="Cousines">Переглянути кухні</a>
}

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchString" class="form-control"
               placeholder="Шукати за назвою або описом..."
               value="@Context.Request.Query["searchString"]" />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 400px">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Availability == true){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" style="height: 150px; width: auto; border-radius: 5px"/>
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Змінити</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            }
        </tr>
    }
}
    </tbody>
</table>
