@model IEnumerable<RestaurantDomain.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Категорії</h1>

<a class="btn btn-warning" asp-action="Create" style="margin-bottom: 25px; display: inline-flex; align-items: center; gap: 8px;">
    Додати нову категорію
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Змінити</a> 
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Деталі</a> 
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="MenuItems" asp-action="Index" class="btn btn-secondary" style="margin-top: 25px; display: inline-flex; align-items: center; gap: 8px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
    Назад до списку
</a>
